@import "vars";

.cocktails {
    position: relative;
    width: 100%;
    min-height: 337px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        position: absolute;
        top: 25px;
        font-family: $fontTitle;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

    }

    &-cocktail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto 32.5px;
        cursor: pointer;

        & p {
            font-family: $fontText;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            color: #231F10;
            margin-bottom: 10px;
        }

        &:hover {
            transform: translateY(-3px);
            outline: 1px solid #E2E2E5;
            outline-offset: 10px;
            transition: .3s all;
        }
    }

    & .articles-btn.cocktail {
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
    }
}